    .hide_input{  
        border:1px solid red;  
        margin:0px 0 0 -267px;  
        margin:0px 0 0 -267px9;  
        float:left;  
        height:30px;  
        opacity:0;  
        filter:alpha(opacity=0);  
        width:220px9;  
    }  
